<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RDPHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RDPHelper.Properties.Settings>
            <setting name="Resolution" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorDepth" serializeAs="String">
                <value />
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultiMonitor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PartialScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedMonitors" serializeAs="String">
                <value />
            </setting>
        </RDPHelper.Properties.Settings>
    </userSettings>
</configuration>